<li class="pic">
  <a {{action "toggleImageSize"}} class="image">
    <img src={{if isWide picture.url picture.thumbnailUrl}} alt="Image">
    <small>View in {{if isWide "small" "large"}}</small>
  </a>
  {{picture.title}}
</li>